/** css全局样式 */

html, body, img, pre, ol, ul, li {
    margin: 0;
    padding: 0;
    border: none;
}

html, body { min-height: 100vh; }

ol, ul, li { list-style: none; }

/* 动画 */
* {
    transition:all 0.3s;
	-moz-transition:all 0.3s; /* Firefox 4 */
	-webkit-transition:all 0.3s; /* Safari and Chrome */
	-o-transition:all 0.3s; /* Opera */
}